fastapi
uvicorn
runpod
f5-tts
faster-whisper
moviepy
pydub
requests
python-multipart
googletrans==4.0.0-rc1
torch
torchaudio
supabase
python-dotenv
cryptography
Pillow
qrcode[pil]
mediapipe
ffmpeg-python
librosa
openai
oauthlib
requests-oauthlib
segment-anything
torchvision
onnxruntime-gpu
scenedetect
opencv-python
