fastapi
uvicorn
python-multipart
python-dotenv
supabase
runpod
requests
static-ffmpeg
moviepy
faster-whisper
torch
torchaudio
transformers
scipy
soundfile
numpy
resend
slowapi
apscheduler
python-socketio
eventlet
redis
PyJWT
googletrans
werkzeug
opencv-python
mediapipe
limits
